.grid-container {
  display: grid;
  grid-template-columns: 198px 198px 198px;
  grid-template-rows: 193px 193px 193px;
  column-gap: 63px;
  row-gap: 63px;
  background-color: #405d78;
  transition: width 0.5s, height 0.5s;
  padding-right: 269px;
  padding-left: 94px;
  padding-top: 174px;
}
