html {
  font-family: "Roboto, sans-serif";
  font-style: normal;
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  height: 100vh;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #152d41;
  line-height: 34px;
  padding-left: 94px;
  padding-right: 28px;
  align-items: center;
  text-align: center;
  width: 386px;
  height: 69px;
  display: flex;
}

h3 {
  font-size: 26px;
  line-height: 142px;
  vertical-align: text-top;
  color: #ffffff;
  margin: 0%;
  height: 0px;
  padding-top: 76px;
  padding-left: 110px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
}

h6 {
  align-items: center;
  text-align: center;
  margin-top: 0%;
}

ul {
  list-style: none;
}
.navbar-container {
  width: 100%;
  height: 50px;
  background: #4e4e4e;
  display: flex;
  text-decoration: none;
}
.navbar p {
  font-size: 18px;
  padding-left: 94px;
}

.page-container2 {
  padding: 50px 0;
  width: 100%;
}
.page-container {
  width: 100%;
  background-color: #405d78;
  padding: 50px 0;
}
.page-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  background-color: #405d78;
  color: #ffffff;
}
.page-header {
  width: 100%;
  height: 100vh;
  background: url("assets/img/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #ffffff;
  line-break: auto;
  display: flex;
}
.page-header-shadow {
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  line-break: auto;
}

.page-header-conteiner {
  padding-left: 94px;
}

.page-header-conteiner h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 14px;
  margin-top: 178px;
}

.page-header-conteiner p {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  margin-top: 62px;
  margin-bottom: 23px;
  margin-left: 14px;
}

.btn {
  border: 3px solid #ffffff;
  margin-top: 53px;
  background: rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  width: 164px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  margin-bottom: 177px;
}

.btn:hover {
  color: black;
  background-color: white;
}

.main-navigation {
  display: none;
  padding-right: 90px;
  display: flex;
}

.main-navigation > .main-navigation-el {
  margin-right: 46px;
}
.main-navigation .main-nav-link {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
.main-navigation-el-kontakt {
  cursor: not-allowed;
}

a:hover {
  color: black;
  background-color: white;
}

.post-title {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
}

.post-title:nth-of-type(odd) {
  flex-flow: row;
  display: flex;
  padding-left: 94px;
}
.post-title:nth-of-type(even) {
  text-align: right;
  flex-flow: row-reverse;

  display: flex;
  padding-right: 90px;
}

.post-title_image {
  display: block;
  height: 197px;
  border-radius: 50%;
  /* padding-left: 34px; */
  padding-right: 54px;
  background-size: contain;
  padding-left: 166px;
}
.post-title_title {
  text-decoration: solid;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  padding-left: 44px;
  padding-right: 60px;
}

.post-title_title2 {
  text-decoration: solid;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  padding-left: 44px;
  padding-right: 60px;
}

.post-title_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: justify;
  margin-right: 54px;
  margin-left: 44px;
}
.post-title_text2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: justify;
  margin-right: 60px;
  margin-left: 34px;
  padding: 10px;
}
.first-image {
  background-image: url("assets/img/men2.png");
}
.second-image {
  background-image: url("assets/img/men.png");
}

.page-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  background-color: #405d78;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: 198px 198px 198px;
  grid-template-rows: 193px 193px;
  column-gap: 63px;
  justify-content: center;
  row-gap: 63px;
  background-color: #405d78;
  transition: width 0.5s, height 0.5s;
  padding: 174px 269px 64px 200px;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  line-height: 28px;
  font-size: 24px;
  align-items: center;
  padding-top: 59px;
  position: relative;
}

.new-offer {
  margin: 0;
}
.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #e07a64;
  position: absolute;
  top: -10px;
  left: -10px;
}

.footer {
  background-color: #4e4e4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  width: 100%;
  flex-direction: row;
}

.instagram-brands {
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background: #ffffff;
  width: 31px;
  height: 31px;
}
.facebook-brands {
  background: #ffffff;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.fa-brands {
  margin: 9px;
}
.socialmedia-icon {
  font-size: 31px;
  color: white;
  margin: 9px;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 31px;
}

.link_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 14px;
}
.container-media-queries {
  width: 100%;
  margin: 0 auto;
}
.instagram-brands {
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background: #ffffff;
  width: 31px;
  height: 31px;
}
